@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 95%;
    --foreground: 0 0% 20%;

    --card: 0 0% 98%;
    --card-foreground: 0 0% 20%;

    --popover: 0 0% 98%;
    --popover-foreground: 0 0% 20%;

    --primary: 0 0% 20%;
    --primary-foreground: 0 0% 98%;

    --secondary: 0 0% 92%;
    --secondary-foreground: 0 0% 20%;

    --muted: 0 0% 92%;
    --muted-foreground: 0 0% 40%;

    --accent: 0 0% 92%;
    --accent-foreground: 0 0% 20%;

    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 98%;

    --border: 0 0% 85%;
    --input: 0 0% 85%;
    --ring: 0 0% 20%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 0 0% 6%;
    --foreground: 0 0% 95%;

    --card: 0 0% 18%;
    --card-foreground: 0 0% 95%;

    --popover: 0 0% 18%;
    --popover-foreground: 0 0% 95%;

    --primary: 0 0% 95%;
    --primary-foreground: 0 0% 18%;

    --secondary: 0 0% 20%;
    --secondary-foreground: 0 0% 95%;

    --muted: 0 0% 20%;
    --muted-foreground: 0 0% 70%;

    --accent: 0 0% 20%;
    --accent-foreground: 0 0% 95%;

    --destructive: 0 63% 31%;
    --destructive-foreground: 0 0% 95%;

    --border: 0 0% 25%;
    --input: 0 0% 25%;
    --ring: 0 0% 83%;
  }
}
